/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui"; /* Import DaisyUI plugin */

@theme{
    --color-primary: #FFFFFF; /* Example primary color */
    --color-secondary: #000000; /* Example secondary color */
    --font-family-base: 'Inter', sans-serif; /* Example font family */
}




/* Login background image */
.login-bg {
    background-image: url('/img/libro-de-lectura-de-mujer-de-tiro-medio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Slight overlay for fieldset to improve readability on background */
.login-fieldset-bg {
    background-color: rgba(255,255,255,0.85);
}


